.flex-container{
    display:flex;
}
.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height:100px;
    flex:1;
    
}
/*
.Flex introduces a box like structure and resizes according to the size of window 
  */
  